<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwie.mapper.TbRoomMapper">

    <resultMap id="BaseResultMap" type="com.bwie.pojo.TbRoom">
            <id property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="roomNo" column="room_no" jdbcType="VARCHAR"/>
            <result property="openTime" column="open_time" jdbcType="TIMESTAMP"/>
            <result property="closeTime" column="close_time" jdbcType="TIMESTAMP"/>
            <result property="pushUrl" column="push_url" jdbcType="VARCHAR"/>
            <result property="playUrl" column="play_url" jdbcType="VARCHAR"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="roomState" column="room_state" jdbcType="INTEGER"/>
            <result property="hostName" column="host_name" jdbcType="VARCHAR"/>
            <result property="roomDesc" column="room_desc" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        room_id,room_no,open_time,
        close_time,push_url,play_url,
        cover_url,room_state,host_name,
        room_desc,deleted,create_time,
        update_time
    </sql>
</mapper>
