<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwie.mapper.TbProductSkuMapper">

    <resultMap id="BaseResultMap" type="com.bwie.pojo.TbProductSku">
            <id property="skuId" column="sku_id" jdbcType="INTEGER"/>
            <result property="skuCode" column="sku_code" jdbcType="VARCHAR"/>
            <result property="spuCode" column="spu_code" jdbcType="VARCHAR"/>
            <result property="productPrice" column="product_price" jdbcType="INTEGER"/>
            <result property="productDesc" column="product_desc" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sku_id,sku_code,spu_code,
        product_price,product_desc,deleted,
        create_time,update_time
    </sql>
</mapper>
